{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'keycontrol/css/admin.css' %}">    
    <script src="{% static 'keycontrol/js/admin.js' %}"></script>
</head>
    <form class="form">
        <input type="text" placeholder="ФИО" name="search" class="search_one">
        <input type="text" placeholder="Дата" name="search" class="search">
        <input type="text" placeholder="Кабинет" name="search" class="search">
        <img width="40" height="40" src="https://img.icons8.com/ios/50/search--v1.png" alt="search--v1"
            class="search_img">
        <div class="plus-minus">
        </div>
        <form method="post">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAABHklEQVR4nO2WTUrDUBSFv010UJuI69C6AKEGt6HGuhZnlpYOOuzcn50k4ipMnJlQCdxCCC/JfYlPMsiBOwmBj3veefc+GDVAnQIPwDsQA99SsXwLAf8vgTNgBWTAoaVyYA+c9YXeAKkCWK0ECLpCH6UDW2i5+2WXTvMe0DJc3bmntPccmCttP9GAt8pujtL8u9ZcmcwBOBMna7W0OD8b8AG4bwK/OQS/NIE/HYLjJnBSk15bmdKe2IIvOoAvbcEfDq2OBhmu0CH4tgnsOxogP20DpNDGAfgZ5eI3pduUdlN6q/UFTFHqysLytrV4rYWW53bfh0DxRuukQGm7yd4FPTUBniSZmi53NmeqkSer7VWmUCoVyXC401yZUfy3fgGUCo4V1aA/HAAAAABJRU5ErkJggg=="
                onclick="showModalWin()">
            <img id = "minusButton" width="30" height="30" src="https://img.icons8.com/fluency-systems-filled/30/minus.png" alt="minus" onclick="ReturnKeys('{{csrf_token}}')">
        </form>

    </form>


    <div id="popupWin" class="modalwin">
        <p>Добавление взятия ключа</p>
        <form class="new_form" method="post">
            {% csrf_token %}
    
            <div class="form-field">
                {{ form.full_name }}
            </div>
            
            <div class="form-field">
                {{ form.emp_choose }}
            </div>
            
            <div class="form-field">
                {{ form.key }}
            </div>
            
            <div class="form-field">
                {{ form.key_choose }}
            </div>
            
            <div class="form-field">
                {{ form.return_time }}
            </div>
            
            <button type="submit">Добавить</button>
        </form>
    </div>

    <table>
        <tr>
            <th></th>
            <th>ФИО сотрудника</th>
            <th>Дата</th>
            <th>Время получения</th>
            <th>Ключ от аудитории</th>
            <th>Время возврата</th>
        </tr>

        {% for row in rows %}
        {% if not row.is_returned %}
        <tr>
            <td><input type="checkbox" data-row-id="{{ row.id }}"></td>
            <td>{{ row.full_name }}</td>
            <td>{{ row.date }}</td>
            <td>{{ row.time_received }}</td>
            <td>{{ row.auditorium_key }}</td>
            <td>{{ row.return_time }}</td>
        </tr>
        {% endif%}
    {% endfor %}
    </table>

</body>

</html>
{% endblock %}