{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'keycontrol/css/login.css' %}">
</head>
<body>
    <div class="block_one">
        <form action="index.html">
            <div class="font">
                <label class="lo">Логин:</label>
                <input type="text" id="login" name="login" required placeholder="Логин" class="inp">
            </div>  
            <div class="fot">
                <label class="olo">Пароль:</label>
                <input type="password" id="password" name="password" required placeholder="Пароль" class="inp"><br>
                <button type="submit" class='log'>Войти</button>
            </div>                       
        </form>
    </div>
</body>
</html>
